body {
  background-color: white !important;
}

* {
  margin: 0;
  padding: 0;
}

/* Header Styles */

nav {
  padding: 0 !important;
}
.header {
  background-color: #355e3b !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

.navbar-brand {
  font-size: 3em !important;
  color: white !important;
}

/* Buttons */

.logoutBtn {
  margin: auto;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.btn {
  font-size: 2em !important;
}

.coffee {
  background-color: #3c2519;
  color: white;
  font-weight: bolder;
  margin: 0;
}
.taupe {
  background-color: #5c4033;
  color: white;
  font-weight: bolder;
  margin: 0;
}
.chestnut {
  background-color: #7b5e55;
  color: white;
  font-weight: bolder;
  margin: 0;
}
.cocoa-brown {
  background-color: #a67b50;
  color: white;
  font-weight: bolder;
  margin: 0;
}
.warm-sand {
  background-color: #c4a484;
  color: white;
  font-weight: bolder;
  margin: 0;
}
.beige {
  background-color: #d2b48c;
  color: white;
  font-weight: bolder;
  margin: 0;
}

.event-list {
  position: absolute;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
