body {
  background-color: white !important;
}

* {
  margin: 0;
  padding: 0;
}

/* Header Styles */

nav {
  padding: 0 !important;
}
.header {
  background-color: #355e3b !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

.navbar-brand {
  font-size: 3em !important;
  color: white !important;
}

/* Buttons */

.logoutBtn {
  margin: auto;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.btn {
  font-size: 2em !important;
}

.taupe {
  background-color: #483c32;
}
.warm-sand {
  background-color: #d4bfaa;
}
.chestnut {
  background-color: #964b00;
}
.cocoa-brown {
  background-color: #a9746e;
}
.coffee {
  background-color: #4b3621;
}
.beige {
  background-color: #f5f5dc;
}

.event-list {
  position: absolute;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
